{% extends "auctions/layout.html" %}
{% block title %}Categories{% endblock %}

{% block body %}
    {% if not listings %}
        <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'categories' category=category.0 %}">{{ category.1 }}</a>
            </li>
        {% endfor %}    
        </ul>
    {% else %}
        {% for listing in listings %}
            {% if listing.active == True %} <!--Only show active listing-->
                <div class="listing">
                    <a href="{% url 'listing' listing_id=listing.id %}"><img class="listing-img" src="{{ listing.image_URL }}">
                    <h3>{{ listing.title }}</h3></a>
                    {% if listing.highest_bid %}
                        <h3><strong>Highest bid: </strong>${{ listing.highest_bid.bid }}</h3>
                    {% else %}
                        <h3><strong>Starting bid: </strong>${{ listing.starting_bid }}</h3>
                    {% endif %}
                    <p class="date-txt">Created {{ listing.date }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}