{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ entry_title }}
{% endblock %}

{% block body %}
    {{ entry_content|safe }}
    <!--
    Not working properly
    Should take the user to the "edit" version of the add page,
    where the title and its entry content are generated in the title input and
    textarea.
    -->
    <form method="get" action="{% url 'add_no_query'  %}">
        <input type="hidden" name="action" value="edit">
        <input type="hidden" name="entry_title" value="{{ entry_title }}">
        {% csrf_token %}
        <button type="submit">Edit</button>
    </form>
{% endblock %}