{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <div class="post-div">
        <form id="post-form">
            <h3>New Post</h3>
            <textarea id="content" rows="5" cols="50" {% if  not request.user.is_authenticated %}placeholder="Login to post!" disabled{% endif %} required></textarea>
            <button id="post-btn" class="btn btn-primary" {% if not request.user.is_authenticated %}disabled{% endif %}>Post</button>
        </form>
    </div>
    {% include "network/partials/load_posts.html" with page_obj=page_obj %}
{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}