{% extends "network/layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1>{{ user_obj.username }}'s Profile</h1>
    {% if user.is_authenticated %}
        {% if user_obj.username != user.username %}
            <button class="btn btn-outline-primary"
                id="toggle-follow-btn"
                data-username="{{ user_obj.username }}">
                {% if user_obj.username in user.following %}Unfollow{% else %}Follow{% endif %}</button>
        {% endif %}
    {% else %}
        <p class="alert-div">Log in to follow!</p>
    {% endif %}
    <strong>Followers: {{ user_obj.following_count }}</strong>
    <strong>Following: {{ user_obj.follower_count }}</strong>
    {% include "network/partials/load_posts.html" with page_obj=page_obj %}
{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
