<div class="posts-div">
    {% for post in page_obj %}
        <div class="post-div">
            <h3><a href="{% url 'profile' username=post.user.username %}">{{ post.user.username }}</a></h3>
            
            <div class="post-text-div">
                <p class="post-text">{{ post.content }}</p>
            </div>
            <div class="edit-form-div"></div>
            <p class="small-text">{{ post.timestamp }}</p>
            <div class="edited-timestamp-div">
                {% if post.edited_timestamp %}
                    {{ post.edited_timestamp }}
                {% endif %}
            </div>
            {% if post.user == user %}
                <button class="edit-btn" data-id="{{ post.id }}">Edit</button>
            {% endif %}
            <p>
                {% if user.is_authenticated %}
                    <button class="like-btn" data-id="{{ post.id }}"
                    data-liked="{% if user in post.likes.all %}true{% else %}false{% endif %}">❤️</button>
                {% else %}
                    🩶
                {% endif %}
                <strong class="like-count">{{ post.like_count }}</strong>
            </p>
        </div>
    {% endfor %}
</div>
<div class="paginator">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>
